<div class="container">
  <h1>aupac-typeahead examples</h1>

  <div class="panel panel-default">
      <div class="panel-heading"><h4>ember-data model search</h4></div>
      <div class="panel-body">

          <div class="col-xs-12">
              <h2>Current Selection: {{selection.name}}</h2>
          </div>

          <div class="col-xs-12">
              <div class="input-group">
                  <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  {{aupac-ember-data-typeahead action=(action (mut selection))
                  class='form-control'
                  modelClass='task'
                  }}
              </div>
          </div>

      </div>
  </div>


    <div class="panel panel-default">
        <div class="panel-heading"><h4>Preselecting Items</h4></div>
        <div class="panel-body">

            <div class="col-xs-12">
                <h2>Current Selection: {{selection2.name}}</h2>
            </div>

            <div class="col-xs-12">
                <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                  {{aupac-ember-data-typeahead action=(action (mut selection2))
                    selection=selection2Initial
                  class='form-control'
                  modelClass='task'
                  }}
                </div>
            </div>

        </div>
    </div>
</div>


